.main {
  min-height: calc(100vh - 110px);
  max-width: 832px;
  margin-inline: auto;

  position: relative;
}

.footer {
  height: 110px;
  max-width: 1512px;
  margin-inline: auto;
}

.container {
}

.rectangle {
  height: 60px;
  background-color: black;

  position: relative;
}

.orderButton {
  width: auto;
  height: 40px;
  border: none;

  position: absolute;
  right: 0;

  color: aliceblue;
  background: black;
}
